<%- include('./component/header.ejs') %>

<div class="container content">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h3>New Canon Camera</h3>
        <img src="/imgs/images.jpeg" alt="" />
        <p>all new canon 5600 series</p>
      </div>
    </div>
  </div>
</div>

<%- include('./component/footer.ejs') %>
