<%- include('./component/header.ejs') %>

<div class="container content">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <h3>New Iphone 12</h3>
        <img src="/imgs/iphone12.jpeg" alt="iphone12" />
        <p>all new Iphone 12 series</p>
      </div>
    </div>
  </div>
</div>

<%- include('./component/footer.ejs') %>
