<!-- start header -->
<%- include('./component/header.ejs') %>
<!-- end header -->
     <!-- start landing -->
     <div class="landing">
      <div class="text">
          <h1>Authentication</h1>
          <h2>test our user authentication</h2>
          <a href="/content" class="content_btn btn">View our products</a>
      </div>
  </div>
   <!-- end landing -->
<!-- start footer -->
<%- include('./component/footer.ejs') %>
<!-- end footer -->
